body {background-color: #00a0b0; margin-right: 38%; margin-top: 25px}
hr {background-color:rgb(51, 146, 156); width: 96%;padding-top: 3px;}
main {background-color: white; border-radius: 15px; height: auto; width: 162%;}
form input[type=text] {border-radius: 7px; width: 74%;height: 98%}
form input[type=password] {border-radius: 7px; width: 74%;height: 98%}
form input[type=submit] {border-radius: 7px; width:32%; margin-top: 50px; margin-left: 31%;
    background-color: #ef7d50; color:white; min-width: 100px;}
.image {padding-top: 70px; padding-left: 60px; padding-bottom: 30px}
.image img {width:36%; height: 14%;}
.form_class {background-color: #fff4cf; width: 45%; height: auto; margin-left: 28%; border-radius: 15px;
    padding-top: 5%; padding-left: 2%;font-size: 31px; padding-bottom: 3%;}
.pass_label {margin-left: 10px;}
.username_field {margin-bottom: 30px; height: 50px;}
.top_hr {margin-top: 4px; margin-bottom: 45px;}
.bottom_hr {margin-top: 45px;}
.footer {font-size: 16px;padding-top: 15px;padding-left: 40px; padding-bottom: 25px;}
.underlined_a {text-decoration: underline; color: #551a8b;}
#error_message {background-color: #ff2222; color: white; border-radius: 5px;font-size: 16px;padding-left: 13px;
    width: 93%;}
@media screen and (max-width: 1380px) {.pass_label { display: none; } }
@media screen and (max-width: 1380px) {.field_label { display: none; } }
@media screen and (max-width: 1380px) {.username_field { padding-left: 15% } }
@media screen and (max-width: 1380px) {.password_field { padding-left: 15% } }